# check readme.md for more information

PRIVATE_KEY=0xabcd....abcd

TARGET_TRADER=0x393d0b87ed38fc779fd9611144ae649ba6082109

SIZE_MULTIPLIER=1.0

MAX_POSITION_SIZE_USD=1000

MAX_TOTAL_EXPOSURE_USD=5000

MAX_LEVERAGE=10

STOP_LOSS_PERCENT=0

MAX_DAILY_LOSS_USD=500

COPY_EXISTING_POSITIONS=false

CLOSE_ON_EXIT=false

RECONCILE_INTERVAL_MS=60000

SLIPPAGE_BPS=50

NETWORK=mainnet

LOG_LEVEL=info

LOG_TO_FILE=true
